<section class="main-slider">
  <ul class="bxslider">
    <% @articles.each do |image| %>
      <li><%= image_tag image.article_img %></li>
    <% end %>
  </ul>
</section>
  <section>
    <div class="row">
      <div class="col-md-8">
        <% @articles.each do |article| %>
        <article class="blog-post">
          <div class="blog-post-image">
            <%= image_tag article.article_img %>
          </div>
          <div class="blog-post-body">
            <h2>
              <%= link_to article.title, article_path(article) %>
            </h2>
            <div class="post-meta">
              <span>by
                <a href="#">Warren Brown</a>
              </span>/
              <span>
                <i class="fa fa-clock-o"></i><%= article.created_at.strftime("%d %b. %Y") %></span>/
              <span>
                <i class="fa fa-comment-o"></i>
                <%= link_to article.comments.count, article_path(article) %>
              </span>
            </div>
            <p><%=h truncate(article.body, :length => 280) %></p>
            <div class="read-more">
              <%= link_to 'Contine Reading', article_path(article) %>
            </div>
          </div>
        </article>
        <!-- article -->
        <% end %>
      </div>
      <%= render 'shared/side_bar_gutter' %>
      </aside>
    </div>
</section>
<!-- /.container -->
