<div class="page-header">
  <% if signed_in? && current_user.email == 'warren@katapultmedia.com' %>
    <ul class="actions">
      <li><%= link_to 'Edit Article', edit_article_path(@article),
              class: 'edit' %></li>
      <li><%= link_to 'Delete Article', article_path(@article),
                method: :delete,
                data: { confirm: 'Are you sure want to delete this article?' },
                class: 'delete' %></li>
    </ul>
  <% end %>
</div>

<section>
			<div class="row">
				<div class="col-md-8">
					<article class="blog-post">
						<div class="blog-post-image">
              <%= image_tag @article.article_img %>
						</div>
						<div class="blog-post-body">
							<h2><%=link_to @article.title, article_path(@article) %></h2>
							<div class="post-meta"><span>by Warren Brown</span>/<span><i class="fa fa-clock-o"></i><%= @article.created_at.strftime("%d %b. %Y") %></span>/<span><i class="fa fa-comment-o"></i> <%= @article.comments.count %></span></div>
							<div class="blog-post-text">
                <p><%= @article.body %></p>
							</div>
						</div>
            <div id="comments">
              <h2><%= @article.comments.count %> Comments</h2>
            		<%= render @article.comments %>

            	<h3>Add a comment:</h3>
              <%= render "comments/form" %>
            </div>
					</article>
				</div>


					<!-- sidebar-widget -->
				<%= render 'shared/side_bar_gutter' %>
		</section>
