<!DOCTYPE html>
<html>
<head>
  <title>GameReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--==============================header=================================-->
<%= render 'shared/navigation' %>
    <div class="container">
      <!--<%= render 'shared/header' %>-->
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
  <%= render 'shared/footer' %>
  
</body>
</html>
